	// Oliver's SASS

	// Styles

		// Global
		html {
			margin: {
				top: 3em;
				left: 10%;
				right: 10%;
			}
			color: $textcolor;
			background: $backgroundcolor;
			font: {
				family: "Helvetica Neue", Helvetica, Arial, sans-serif;
				weight: 300;
			}
			a {
				color: $linkcolor;
				text-decoration: none;
				transition: 1s all;
				-webkit-transition: 1s all;
				&:hover {
					color: $textcolor;
				}
			}
		}

		// Typography
		h1, h2, h3, h4, h5, h6 {
			font: {
				size: 110%;
				weight: 500;
			}
			color: $headcolor;
		}
		b, strong {
			font-weight: 500;
		}
		.light {
			font-weight: 300;
		}

		.bold {
			font-weight: 500;
		}

		// Header
		header {
			h1 {
				font-size: 150%;
			}
			h2 {
				font-size: 120%;
			}
			hr {
				border: 0;
				height: 1px;
				background: #333;
				background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
				background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc);
				background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc);
				background-image:      -o-linear-gradient(left, #ccc, #333, #ccc);
			}
		}

		// Markdown
		#md {
			display: none;
		}

		// Labels
		.label {
			display: inline-block;
			vertical-align: text-top;
			color: $textcolor;
			padding: {
				right: 5px;
				left: 5px;
				top: 2.5px;
				bottom: 2.5px;
			}
			font: {
				weight: 400;
				size: 40%;
			}
			text-transform: uppercase;
			border-radius: 2px;
		}

		.label-primary {
			background: $primary;
		}

		.label-success {
			background: $success;
		}

		.label-info {
			background: $info;
		}

		.label-warning {
			background: $warning;
		}

		.label-danger {
			background: $danger;
		}

		// Share
		.share {
			background: $muted;
			border-radius: 2px;
			display: block;
			padding: 20px 0;
			.wrapper {
				margin: 0 5%;
				div {
					display: inline-block;
					margin: 0;
				}
			}
		}
