// Variables

// Colors

	// Global Colors
	$linkcolor: #FF4136;
	$textcolor: #111111;
	$headcolor: #111111;
	$bordercolor: #111111;
	$backgroundcolor: #ffffff;

		// Global Coloring System
		$primary: #0074D9;
		$success: #2ECC40;
		$info: #7FDBFF;
		$warning: #FFDC00;
		$danger: #FF4136;
		$muted: #ccc
